.light-theme {
  --color-primary: #f0f0f0;
  --color-secondary: white;
  --color-button-primary: black;
  --color-button-seconday: #d2d3db;
  --color-text-primary: black;
  --color-text-secondary: #a9a9a9;
  --color-button-text: black;
  --border-color: none;
}

.dark-theme {
  --color-primary: #1e1e1e;
  --color-secondary: #2c2c2c;
  --color-tertiary: #2e2d2d;
  --color-button-primary: #fffb73;
  --color-button-seconday: #2f58cd;
  --color-text-primary: #eeeded;
  --color-text-secondary: rgb(172, 170, 170);
  --color-button-text: white;
  --color-border: rgba(252, 250, 250, 0.1);
}

.left-main {
  color: var(--color-text-primary);
  font-family: sans-serif;
}
.left-pic {
  display: flex;
  justify-content: center;
}
#left-coverpic {
  border-radius: 10px;
  width: 100%;

  /* Absolute positioning relative to the container */
  width: 100%; /* Make the image fill the container horizontally */
  height: 100%; /* Make the image fill the container vertically */
  object-fit: cover; /* Maintain aspect ratio while filling the container */
  top: 0; /* Position the image to the top left corner of the container */
  left: 0; /* Position the image to the top left corner of the container */
}
#left-profilepic {
  height: 5em;
  position: absolute;
  top: 310px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-secondary);
}

.left-cover {
  height: 250px; /* Set height of the container */
  /* Set width of the container */
  width: 100%;
  position: relative; /* Ensure relative positioning for absolute positioning of the img */
  overflow: hidden; /* Hide any overflow from the image */
}

.left-profile {
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-secondary);
}

.basic-info2 h6 {
  margin-top: 30px;
}
.basic-info2 {
  position: relative;
  margin-top: 50px;
}
.basic-info {
  display: flex;

  justify-content: space-around;
  text-align: center;
}

#basic-info-btn {
  margin-left: 10%;
  width: 80%;
  color: var(--color-button-text);
  height: 35px;
  border-width: 2px 5px 2px 5px;
  border-radius: 10px;
  border-color: var(--color-button-seconday);
  border-style: none;
  background-color: var(--color-primary);
  margin-top: 50px;
  cursor: pointer;
}

#basic-info-btn:hover {
  transform: scale(1.05); /* Increase size by 5% on hover */
}

.countFollow {
  color: var(--color-text-secondary);
  margin-top: 12px;
}

.person-points {
  display: flex;
  height: 130px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-secondary);
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
   
  padding-top: 20px;
}

.left-point-analysis  {
  font-size: x-large;
  text-align: center;
  margin-top: 18px;
  font-family: sans-serif;
  color: var(--color-text-secondary);
}

.good-points img {
  height: 50%;
}
.bad-points img {
  height: 50%;
}
 
@media only screen and (max-width: 768px) {
  #left-profilepic {
    top: 23em;
  }
}
