.light-theme {
  --color-primary: #f0f0f0;
  --color-secondary: white;
  --color-button-primary: black;
  --color-button-seconday: #d2d3db;
  --color-text-primary: black;
  --color-text-secondary: #a9a9a9;
  --color-button-text: black;
  --border-color: none;
}

.dark-theme {
  --color-primary: #1e1e1e;
  --color-secondary: #2c2c2c;
  --color-tertiary: #2e2d2d;
  --color-button-primary: #fffb73;
  --color-button-seconday: gray;
  --color-text-primary: #eeeded;
  --color-text-secondary: rgb(172, 170, 170);
  --color-button-text: white;
  --color-border: rgba(252, 250, 250, 0.1);
}

.story-main {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 6px;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}

.story-main::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.story-owner {
  flex-shrink: 0; /* Prevent shrinking */
  margin-right: 10px; /* Add space between items */
}

.story-owner
{
  border-color: gray;
  border-radius:  100%;
  border-style: solid;
  border-width: 2px;
  position: relative;
}
.story-owner img {
  border-radius:  100%;
  height: 70px; /* Set image size */
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
   
}
.add-story-logo{
  position: absolute;
  top: 70%;
  left: 70%;
}
.story-image {
  margin-right: 10px; /* Add space between items */
}

.story-image img {
   /* Set image size */
  height: 70px; /* Set image size */
  border-radius: 100%;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.story-image 
{
  border-color: var(--color-secondary);
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  
}
