.light-theme {
    --color-primary: #f0f0f0;
    --color-secondary: white;
    --color-button-primary: black;
    --color-button-seconday: #d2d3db;
    --color-text-primary: black;
    --color-text-secondary: #A9A9A9;
    --color-button-text: black;
    --border-color: none;
  }
  
  .dark-theme{
      --color-primary: #1e1e1e;
      --color-secondary: #2c2c2c;
      --color-tertiary: #2e2d2d;
      --color-button-primary: #FFFB73;
      --color-button-seconday: #2f58cd;
      --color-text-primary: #eeeded;
      --color-text-secondary: rgb(172, 170, 170);
      --color-button-text: white;
      --color-border: rgba(252, 250, 250, .1);
  }

  .app-container
  {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 45px;
  }

  .app-left
  {
    width: 25%;
  }

  .app-mid
  {
    width: 50%;
  }
  .app-right
  {
    width: 25%;
  }



  @media only screen and (max-width: 768px) {
     .app-right{
      display: none;
       
     }

     .app-left
     {
      width: 40%;
     }
     .app-mid
     {
      width: 60%;
     }
  }